* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

body{
    background-color: #a2ca97;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='200' height='200' viewBox='0 0 200 200'%3E%3Cg %3E%3Cpolygon fill='%23147d8f' points='100 57.1 64 93.1 71.5 100.6 100 72.1'/%3E%3Cpolygon fill='%231897ad' points='100 57.1 100 72.1 128.6 100.6 136.1 93.1'/%3E%3Cpolygon fill='%23147d8f' points='100 163.2 100 178.2 170.7 107.5 170.8 92.4'/%3E%3Cpolygon fill='%231897ad' points='100 163.2 29.2 92.5 29.2 107.5 100 178.2'/%3E%3Cpath fill='%231cb2cc' d='M100 21.8L29.2 92.5l70.7 70.7l70.7-70.7L100 21.8z M100 127.9L64.6 92.5L100 57.1l35.4 35.4L100 127.9z'/%3E%3Cpolygon fill='%234a8f0d' points='0 157.1 0 172.1 28.6 200.6 36.1 193.1'/%3E%3Cpolygon fill='%2359ad0f' points='70.7 200 70.8 192.4 63.2 200'/%3E%3Cpolygon fill='%2369cc12' points='27.8 200 63.2 200 70.7 192.5 0 121.8 0 157.2 35.3 192.5'/%3E%3Cpolygon fill='%2359ad0f' points='200 157.1 164 193.1 171.5 200.6 200 172.1'/%3E%3Cpolygon fill='%234a8f0d' points='136.7 200 129.2 192.5 129.2 200'/%3E%3Cpolygon fill='%2369cc12' points='172.1 200 164.6 192.5 200 157.1 200 157.2 200 121.8 200 121.8 129.2 192.5 136.7 200'/%3E%3Cpolygon fill='%234a8f0d' points='129.2 0 129.2 7.5 200 78.2 200 63.2 136.7 0'/%3E%3Cpolygon fill='%2369cc12' points='200 27.8 200 27.9 172.1 0 136.7 0 200 63.2 200 63.2'/%3E%3Cpolygon fill='%2359ad0f' points='63.2 0 0 63.2 0 78.2 70.7 7.5 70.7 0'/%3E%3Cpolygon fill='%2369cc12' points='0 63.2 63.2 0 27.8 0 0 27.8'/%3E%3C/g%3E%3C/svg%3E");
    margin: 3em;
}

.content {
    margin: 0 auto;
    /* position: absolute;
    left: 45%;
    top: 20%; */
}

.header-container {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
    border: 1px solid black;
    border-radius: 8px;
    padding: 2em;
    width: 400px;
}
img{
    height: 180px;
    border: 1px solid black;
    border-radius: 100%;
}

.header-container h1{
    margin: 0 auto;
    font-size: 40px;
    margin:auto;
    line-height:51px;
    vertical-align:middle;
}


.links-container {
    margin: 0 auto;
    margin-top: 2em;
    display: block;
    width: 400px;
}
.link {
    /* padding: 5em; */
    text-align: center;
    border: 1px solid black;
    margin-top: 2em;
}

.link a{
    padding: 4em;
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
}



.facebook{
    background-image: url('static/facebook.png');
    background-size: 226px;
    background-position: center;
    border: 3px solid #3b5998;
    border-radius: 5px;
}
.instagram{
    background-image: url('static/instagram.png');
    background-size: cover;
    background-position: center;
    border: 3px solid #c32aa3;
    border-radius: 5px;
}
.snapchat{
    /* background: #fffc00; */
    background-image: url('static/snapchat.png');
    background-position: center;
    border: 3px solid #f1ed01;
    border-radius: 5px;
}
.spotify{
    background-image: url('static/spotify.png');
    background-size: 350px;
    background-position: center;
    border: 3px solid #1ece5b;
    border-radius: 5px;
}